/* Establecer márgenes y rellenos en 0 para todo el documento */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Título */
h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2em;
  text-align: center;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

/* Hacer la tabla responsiva */
@media (max-width: 768px) {
  /* Convertir la tabla en bloques verticales */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  th {
    background-color: #4caf50;
    color: white;
  }

  tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }

  td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }
}

/* Para pantallas más grandes */
@media (min-width: 769px) {
  h1 {
    font-size: 2.5em; /* Título más grande en pantallas grandes */
  }

  .container {
    padding: 40px;
  }
}
